In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Dataset_pandas_assign.csv')
dataset.head()

,Unique number,"Возраст, полных лет",Гражданство,Стаж вождения,Пол,КБМ,Город,Марка,Модель,Тип ТС,Год выпуска,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Дата проишествия,Регион ДТП,Сумма убытка
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,23,25,26.0
1,74d88aec9cfe39a1bc5a93314c4326dc,30,Казахстан,10,М,8,Алматы,156,Alfa romeo,Легковые автомобили,12/1/2000,Слева,3000,красный,14.06.2013-13.06.2014,17625,NaN,NaN,NaN,NaN
2,c13fe1fef2192e82056e26544c3efed3,36,Казахстан,17,М,8,Нур-Султан,156,Alfa romeo,Легковые автомобили,12/1/2001,Слева,2387,синий,19.07.2013-18.07.2014,8484,NaN,NaN,NaN,NaN
3,8dd751c0f9c0cf216303a0d445099e1b,46,Казахстан,28,М,8,Алматы,Rsv 1000r,Aprilia,Мотоциклы и мотороллеры,12/1/2005,Слева,998,красный,07.06.2013-06.06.2014,8031,NaN,NaN,NaN,NaN
4,005f21aeed2db9c1694f724f365be6b5,45,Казахстан,13,М,7,Нур-Султан,80,Audi,Легковые автомобили,12/1/1992,Слева,1984,серебристый металлик архивный,30.05.2013-29.11.2013,6709,NaN,NaN,NaN,NaN

In [3]:
dataset = dataset.rename(columns={'Возраст, полных лет':'Age', 'Unique number': 'Driver', 'Дата проишествия' : 'Acc', 'Стаж вождения':'driver_experience','Регион ДТП' : 'Acc_place','Год выпуска':'year'})
dataset.head()

,Driver,Age,Гражданство,driver_experience,Пол,КБМ,Город,Марка,Модель,Тип ТС,year,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Acc,Acc_place,Сумма убытка
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,23,25,26.0
1,74d88aec9cfe39a1bc5a93314c4326dc,30,Казахстан,10,М,8,Алматы,156,Alfa romeo,Легковые автомобили,12/1/2000,Слева,3000,красный,14.06.2013-13.06.2014,17625,NaN,NaN,NaN,NaN
2,c13fe1fef2192e82056e26544c3efed3,36,Казахстан,17,М,8,Нур-Султан,156,Alfa romeo,Легковые автомобили,12/1/2001,Слева,2387,синий,19.07.2013-18.07.2014,8484,NaN,NaN,NaN,NaN
3,8dd751c0f9c0cf216303a0d445099e1b,46,Казахстан,28,М,8,Алматы,Rsv 1000r,Aprilia,Мотоциклы и мотороллеры,12/1/2005,Слева,998,красный,07.06.2013-06.06.2014,8031,NaN,NaN,NaN,NaN
4,005f21aeed2db9c1694f724f365be6b5,45,Казахстан,13,М,7,Нур-Султан,80,Audi,Легковые автомобили,12/1/1992,Слева,1984,серебристый металлик архивный,30.05.2013-29.11.2013,6709,NaN,NaN,NaN,NaN

In [4]:
dataset = dataset.drop(labels=None, axis=0, index=0, columns=None, level=None, inplace=False, errors='raise')

### 9. How many people had more than 1 car in one year? Is there any driver who had more than 1 car accident in one year?  -->

In [5]:
dataset.groupby('Driver',as_index = True).Acc.value_counts().sort_values(ascending = False).head()

Driver                            Acc
0a3a1e71a726f4744afbdb2ef1357148  9/28/2013     7
d2f959644b31e72df511f402d1136141  11/2/2013     2
56a4c2beb2e15a034bb3c2fc0c544b7e  12/10/2013    2
14f69489b14639e440988e3a52a650e5  8/19/2013     2
bb332b0151aece3e9b11ebda3a7c2e20  11/5/2013     1
Name: Acc, dtype: int64

In [10]:
data8 = dataset[dataset.duplicated(['Driver'])].year.value_counts()
data8

12/1/2007    97
12/1/1995    61
12/1/1998    61
12/1/2004    61
12/1/1996    60
             ..
7/1/2007      1
1/1/1962      1
1/1/1977      1
12/1/1970     1
1/1/1984      1
Name: year, Length: 93, dtype: int64