### Assignment 1
#### Moldir KUmarbek
#### BD-2005

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Dataset_pandas_assign.csv')
dataset.head()

,Unique number,"Возраст, полных лет",Гражданство,Стаж вождения,Пол,КБМ,Город,Марка,Модель,Тип ТС,Год выпуска,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Дата проишествия,Регион ДТП,Сумма убытка
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,23,25,26.0
1,74d88aec9cfe39a1bc5a93314c4326dc,30,Казахстан,10,М,8,Алматы,156,Alfa romeo,Легковые автомобили,12/1/2000,Слева,3000,красный,14.06.2013-13.06.2014,17625,NaN,NaN,NaN,NaN
2,c13fe1fef2192e82056e26544c3efed3,36,Казахстан,17,М,8,Нур-Султан,156,Alfa romeo,Легковые автомобили,12/1/2001,Слева,2387,синий,19.07.2013-18.07.2014,8484,NaN,NaN,NaN,NaN
3,8dd751c0f9c0cf216303a0d445099e1b,46,Казахстан,28,М,8,Алматы,Rsv 1000r,Aprilia,Мотоциклы и мотороллеры,12/1/2005,Слева,998,красный,07.06.2013-06.06.2014,8031,NaN,NaN,NaN,NaN
4,005f21aeed2db9c1694f724f365be6b5,45,Казахстан,13,М,7,Нур-Султан,80,Audi,Легковые автомобили,12/1/1992,Слева,1984,серебристый металлик архивный,30.05.2013-29.11.2013,6709,NaN,NaN,NaN,NaN

In [3]:
dataset = dataset.rename(columns={'Возраст, полных лет':'Age', 'Unique number': 'Driver', 'Дата проишествия' : 'Acc', 'Стаж вождения':'driver_experience','Регион ДТП' : 'Acc_place','Год выпуска':'year'})
dataset

,Driver,Age,Гражданство,driver_experience,Пол,КБМ,Город,Марка,Модель,Тип ТС,year,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Acc,Acc_place,Сумма убытка
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,23,25,26.0
1,74d88aec9cfe39a1bc5a93314c4326dc,30,Казахстан,10,М,8,Алматы,156,Alfa romeo,Легковые автомобили,12/1/2000,Слева,3000,красный,14.06.2013-13.06.2014,17625,NaN,NaN,NaN,NaN
2,c13fe1fef2192e82056e26544c3efed3,36,Казахстан,17,М,8,Нур-Султан,156,Alfa romeo,Легковые автомобили,12/1/2001,Слева,2387,синий,19.07.2013-18.07.2014,8484,NaN,NaN,NaN,NaN
3,8dd751c0f9c0cf216303a0d445099e1b,46,Казахстан,28,М,8,Алматы,Rsv 1000r,Aprilia,Мотоциклы и мотороллеры,12/1/2005,Слева,998,красный,07.06.2013-06.06.2014,8031,NaN,NaN,NaN,NaN
4,005f21aeed2db9c1694f724f365be6b5,45,Казахстан,13,М,7,Нур-Султан,80,Audi,Легковые автомобили,12/1/1992,Слева,1984,серебристый металлик архивный,30.05.2013-29.11.2013,6709,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,c6a3b53d633ff4155492e2e19b9a8010,57,Казахстан,35,М,8,Павлодар,Нива 212300-55,Шевроле,Легковые автомобили,12/1/2012,Слева,1690,серый металлик,12.06.2013-10.04.2014,6976,NaN,NaN,NaN,NaN
10906,c84892e816bec0dbd5429c75fb57b305,55,Казахстан,20,М,9,Петропавловск,Нива 212300-55I,Шевроле,Легковые автомобили,1/1/2012,Слева,1690,серебристый,16.06.2013-15.06.2014,6400,NaN,NaN,NaN,NaN
10907,d406878650cbf18002d29968bf832c31,73,Казахстан,45,М,8,Костанай,Нива 212300-55I,Шевроле,Легковые автомобили,12/1/2010,Слева,1700,снежная королева,18.06.2013-17.06.2014,10053,NaN,NaN,NaN,NaN
10908,dcb07973b07a508c4680406b38fdfa56,67,Казахстан,20,М,8,Усть-Каменогорск,Нива 212300-55glc,Шевроле,Легковые автомобили,12/1/2011,Слева,1690,снежная королева,01.07.2013-30.06.2014,5052,Инвалид,NaN,NaN,NaN
10909,e5d53857c001d29441e397a35ccc0392,65,Казахстан,34,М,8,Актобе,Нива 212300-55I,Шевроле,Легковые автомобили,12/1/2011,Слева,1690,серебристый,01.07.2013-30.06.2014,3480,Инвалид,NaN,NaN,NaN

##### 1) What is the average age and percentage of road accidents for all drivers based on genders?

In [4]:
dataset = dataset.drop(labels=None, axis=0, index=0, columns=None, level=None, inplace=False, errors='raise')

In [5]:
dataset.groupby('Пол',as_index = True).mean()

,Age,driver_experience,КБМ,Объём двигателя,Страховая премия,Сумма убытка
Пол,,,,,,
Ж,43.810682,13.903264,6.803561,2331.699703,13656.416617,404413.807692
М,48.004445,18.772984,7.470620,2403.140395,10433.984497,345044.596330

In [6]:
## 
pol = dataset.groupby('Пол',as_index = True).Acc.count()
pol

Пол
Ж     25
М    111
Name: Acc, dtype: int64

In [7]:
all_sum = dataset.value_counts('Driver').sum()
all_sum

10909

In [8]:
(pol / all_sum )*100 #last version

Пол
Ж    0.229169
М    1.017508
Name: Acc, dtype: float64

##### 2. What is the difference between average driving experience and mean bonus-malus class for males and females?

In [9]:
df1 = dataset.groupby('Пол').driver_experience.mean()
df1

Пол
Ж    13.903264
М    18.772984
Name: driver_experience, dtype: float64

In [10]:
df2 = dataset.groupby('Пол').КБМ.mean()
df2

Пол
Ж    6.803561
М    7.470620
Name: КБМ, dtype: float64

In [11]:
df1 - df2 #last version of #2

Пол
Ж     7.099703
М    11.302363
dtype: float64

##### 3. In which year the most significant number of vehicles were built? Please provide the list of top-10 years sorting based on the number of vehicles (descending).

In [12]:
df3 = dataset['year'].str[-4:]
df3

1        2000
2        2001
3        2005
4        1992
5        1995
         ...
10905    2012
10906    2012
10907    2010
10908    2011
10909    2011
Name: year, Length: 10909, dtype: object

In [13]:
df3.value_counts().head(10)

2007    715
1995    653
1996    594
1993    594
1992    561
1994    520
2002    498
1997    497
1991    489
2006    467
Name: year, dtype: int64

### 4. How much customers pay for the contract in average and how this number is correlated with the bonus-malus class?

In [14]:
dataset['КБМ'].mean()

7.367586396553305

### 5. What is the most popular vehicle-make company in any 5 cities? (choose the cities you like most)

In [15]:
city = dataset[dataset['Город'] == 'Павлодар']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

Город     Модель
Павлодар  Toyota    36
Name: Модель, dtype: int64

In [16]:
city = dataset[dataset['Город'] == 'Талдыкорган']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

Город        Модель
Талдыкорган  Toyota    14
Name: Модель, dtype: int64

In [17]:
city = dataset[dataset['Город'] == 'Актобе']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

Город   Модель
Актобе  Toyota    140
Name: Модель, dtype: int64

In [18]:
city = dataset[dataset['Город'] == 'Семей']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

Город  Модель
Семей  Toyota    29
Name: Модель, dtype: int64

In [19]:
city = dataset[dataset['Город'] == 'Нур-Султан']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

Город       Модель
Нур-Султан  Toyota    259
Name: Модель, dtype: int64

### 6. What kind of vehicle colors people prefer most, dark ones or light ones? Group all colors to dark and light as you like.

In [20]:
dataset['Цвет'].value_counts().head()
## here серебристый металлик архивный also a light color, so people more prefer to light color

белый                            1952
серебристый металлик архивный    1136
черный                            901
серебристый                       646
синий                             582
Name: Цвет, dtype: int64

In [21]:
dark = ['черный', 'синий','коричневый','серый','серый металлик', 'темно-синий перламутровый', 'серо-зелёный металлик', 'сиреневый', 
        'темно-синий металлик','серый металлик', 'темно-серый металлик архивный', 'баклажановый', 'графит',  
        'вишневый', 'гранат', 'бордовый','зелёный', 'темно-серый', 'сине-зелёный','серо-зелёный архивный', 'коричневый', 'сенеж', 
        'темно-синий перламутровый', 'гранат', 'черный металик', 'темно-бордовый металлик', 'темно-красный металлик']
light = ['абрикосовый', 'белый', 'серебристый металлик архивный', 'серебристый', 'белый с желтым отливом', 
         'золотое руно', 'айсберг', 'красный', 'снежная королева', 'фиолетовый', 'голубой металлик', 'желтый', 
         'светло-зелёный металлик', 'белый перламутровый', 'сафари', 'серо-белый',  
         'серебристый', 'липа зеленая', 'ярко-синий', 'оливковый зелёный', 'сине-белый', 
         'бело-дымчатый', 'пепельный', 'малиновый', 'кипарис', 'лимонный', 'белый жемчужный', 'лиловый']

In [22]:
colors = dataset[dataset['Цвет'].isin(light)]
colors['Цвет'].count()

4596

### 7. What is the most popular vehicle-make company for females in Almaty, Shymkent and Nur-Sultan (Astana) respectively?

In [23]:
data = dataset[dataset['Пол'] == 'Ж']
data1 = data.loc[ dataset['Город'] == 'Алматы',['Модель','Город','Пол']].value_counts().head()
data1

Модель      Город   Пол
Toyota      Алматы  Ж      297
Mitsubishi  Алматы  Ж      105
Subaru      Алматы  Ж       69
Honda       Алматы  Ж       64
Lexus       Алматы  Ж       63
dtype: int64

In [24]:
data = dataset[dataset['Пол'] == 'Ж']
data2 = data.loc[ dataset['Город'] == 'Шымкент',['Модель','Город','Пол']].value_counts().head()
data2

Модель  Город    Пол
Audi    Шымкент  Ж      1
Toyota  Шымкент  Ж      1
dtype: int64

In [25]:
data = dataset[dataset['Пол'] == 'Ж']
data3 = data.loc[ dataset['Город'] == 'Нур-Султан',['Модель','Город','Пол']].value_counts().head()
data3

Модель      Город       Пол
Toyota      Нур-Султан  Ж      58
Volkswagen  Нур-Султан  Ж      21
Hyundai     Нур-Султан  Ж      15
Nissan      Нур-Султан  Ж      12
Mitsubishi  Нур-Султан  Ж      12
dtype: int64

### 8. What is the distribution of car road accidents for different cities?
### Which city is in the first place for road accidents? 
### From the top-10 cities, is there any countrysides?

In [26]:
dataset.groupby('Гражданство',as_index = True).Acc_place.value_counts()
# the first place for road accidents is Almaty
# Тимирязево is the one of the countryside that had accidents

Гражданство  Acc_place
Казахстан    Алматы                 56
             Нур-Султан             19
             Актобе                 15
             Петропавловск          13
             Костанай                9
             Кокшетау                5
             Караганда               3
             Шымкент                 3
             Атбасар                 2
             Тимирязево              2
             Усть-Каменогорск        2
             Атырау                  1
             Бесколь                 1
             Бостандыкский район     1
             Житикара                1
             Павлодар                1
             Рудный                  1
             Экибастуз               1
Name: Acc_place, dtype: int64

### 9. How many people had more than 1 car in one year? Is there any driver who had more than 1 car accident in one year?

In [27]:
data8 = dataset[dataset.duplicated(['Driver','Acc_place','Acc','year'])]
data8

,Driver,Age,Гражданство,driver_experience,Пол,КБМ,Город,Марка,Модель,Тип ТС,year,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Acc,Acc_place,Сумма убытка
36,0b637b1f2af75cfdc9cbec2be4b9a9f7,50,Казахстан,23,М,8,Костанай,B4,Audi,Легковые автомобили,1/1/1994,Слева,2000,зеленый металлик,22.06.2013-21.06.2014,11058,NaN,NaN,NaN,NaN
43,0dc702ef13e47f0edf9ab207a458f551,40,Казахстан,10,М,5,Петропавловск,B4,Audi,Легковые автомобили,12/1/1992,Слева,1984,синий,25.05.2013-24.05.2014,7241,NaN,NaN,NaN,NaN
98,25f655aeee979fd8bbd206c71b5c1d5f,38,Казахстан,17,М,8,"Атбасар,Атбасар",С4,Audi,Легковые автомобили,1/1/1992,Слева,1900,бежевый,26.06.2013-25.06.2014,5988,NaN,NaN,NaN,NaN
198,4aa67706f2fd59f8655bc7e640ab7bc8,31,Казахстан,12,М,8,Алматы,С4,Audi,Легковые автомобили,12/1/1992,Слева,2598,белый,07.06.2013-06.06.2014,17625,NaN,NaN,NaN,NaN
199,4aa67706f2fd59f8655bc7e640ab7bc8,31,Казахстан,12,М,8,Алматы,С4,Audi,Легковые автомобили,12/1/1992,Слева,2598,белый,25.06.2013-06.06.2014,15958,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10842,5fb3e98fc52f9a6e52f68d4dff3926c7,41,Казахстан,20,М,9,Петропавловск,31512,УАЗ,Легковые автомобили,2/1/2013,Слева,2400,белый,25.06.2013-24.12.2013,3529,NaN,NaN,NaN,NaN
10855,8b068c9b7375afa58c793a3f90e7f0d2,68,Казахстан,20,М,8,Петропавловск,452,УАЗ,Легковые автомобили,12/1/1984,Слева,2500,хаки,18.06.2013-17.12.2013,3781,Инвалид,NaN,NaN,NaN
10884,fa80930263735909912f9a70d4773250,44,Казахстан,27,М,8,Крамское,31512,УАЗ,Легковые автомобили,1/1/1991,Слева,1800,песочный,27.06.2013-07.06.2014,10483,NaN,NaN,NaN,NaN
10896,4eb11fbabd2d366bffd81beb67e20925,54,Казахстан,19,Ж,9,"Атбасар,Атбасар",.,Хуньсень,Легковые автомобили,12/1/2006,Слева,2200,черный,14.06.2013-07.06.2014,6372,NaN,NaN,NaN,NaN
10897,5a5b739b24c1a89c5d6906b5975032d8,34,Казахстан,13,М,8,Костанай,Са-6371а4,Цзефан,Легковые автомобили,12/1/2012,Слева,3168,белый,21.05.2013-20.11.2013,5135,NaN,NaN,NaN,NaN

In [28]:
data8 = dataset[dataset.duplicated(['Driver','Acc'])].Acc_place.value_counts()
data8

Петропавловск    6
Алматы           1
Тимирязево       1
Кокшетау         1
Name: Acc_place, dtype: int64

In [31]:
dataset.groupby('Driver',as_index = True).Acc.value_counts().sort_values(ascending = False).head()

Driver                            Acc
0a3a1e71a726f4744afbdb2ef1357148  9/28/2013     7
d2f959644b31e72df511f402d1136141  11/2/2013     2
56a4c2beb2e15a034bb3c2fc0c544b7e  12/10/2013    2
14f69489b14639e440988e3a52a650e5  8/19/2013     2
bb332b0151aece3e9b11ebda3a7c2e20  11/5/2013     1
Name: Acc, dtype: int64

### 10. What is the distribution of road accidents based on the bonus-malus class?

In [30]:
dataset['КБМ'].value_counts().sort_values(ascending = True)

1      10
2      30
3     447
4     509
6     829
5     841
7    1259
9    3062
8    3922
Name: КБМ, dtype: int64